<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mybatis.mapper">
	<!-- 리스트 -->
	<select id="list" parameterType="String" resultType="com.hb.mybatis.VO">
		select * from shop_t where category = #{category}
	</select>
	
	<select id="onelist" parameterType="String" resultType="com.hb.mybatis.VO">
		select * from shop_t where p_num = #{prod_num}
	</select>
</mapper>













