<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.mybatis.mapper">
	<!-- 전체보기 -->
	<select id="list" resultType="com.hb.mybatis.VO">
		select * from employees order by employee_id
	</select>
	<!-- 부서검색 -->
	<select id="dept" parameterType="String" resultType="com.hb.mybatis.VO">
		select * from employees where department_id = #{deptno}
	</select>
	<!-- 동적 쿼리 -->
	<!-- <if>, <choose>, <foreach>, <when> -->
	<select id="keylist" parameterType="Map" resultType="com.hb.mybatis.VO">
		select * from employees
		<choose>
			<when test="idx==0">where Lower(employee_id) = #{keyword}</when>
			<when test="idx==1">where Lower(first_name) like '%' || #{keyword} || '%'</when>
			<when test="idx==2">where Lower(job_id) like '%' || #{keyword} || '%'</when>
			<when test="idx==3">where Lower(department_id) like '%' || #{keyword} || '%'</when>
		</choose>
	</select>
</mapper>